{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Recette</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>Pour commencer rendez vous sur la page d'inscription pour commencer l'Application.</p>
        <a class="btn btn-primary btn-lg" href="{{ path('security.register') }}" role="button">Inscription</a>
    </div>

    {% if not recipes is same as([]) %}
        <h1>Recettes de la communuaté</h1>

        <div class="d-flex justify-content-between flex-wrap">
            {% for recipe in recipes %}
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Recette n°{{ recipe.id }}</div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ path('recipe.show', {id: recipe.id}) }}">{{ recipe.name }}</a>
                        </h4>
                        <p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>


    {% else %}
        <h4>Il n'y a pas de rcettes</h4>
    {% endif %}
</div>



{% endblock %}
